
html, body {
    height: 100%;
    margin: 0;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
/* Basic Reset */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: inherit;
    vertical-align: baseline;
}
h1 {
    margin-bottom: 20px; /* Adjust space between title and buttons */
}
/* Page Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover; /* Cover the entire page */
    color: #ffffff;
}
h1 {
    font-size: 36px; /* Increased font size for more visibility */
    font-weight: bold; /* Makes the font thicker */
    color: white; /* Changes the font color to white for better contrast */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Optional: Adds a shadow for better legibility on varied backgrounds */
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Additional Styling */
.table-container {
    overflow-x: auto;
}

.no-recipes {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 10px;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust the space between buttons as needed */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover; /* Cover the entire page */
    gap: 10px; /* Adjust the space between buttons as needed */
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the space between buttons as needed */
}