/* Body Styling */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 20px;
    background: url('../images/background.jpg') no-repeat center center fixed; /* Background photo */
    background-size: cover; /* Cover the entire background */
    color: #ffffff; /* White text color */
}

/* Container Styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    padding: 20px;
    background-color: rgb(43, 49, 44, 0.9);  /* Green background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow effect */
    gap: 10px; /* Adjust the space between elements */
    max-width: 400px; /* Set maximum width */
    margin: auto; /* Center horizontally */
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure the form takes the full width of the container */
}

input[type="email"]{
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button Styling */
input[type="submit"] {
    padding: 10px 20px; /* Adjust padding */
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Button color */
    color: #fff; /* Text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Hover color */
}

button {
    padding: 10px;
    width: 200px; /* Fixed width */
    height: 40px; /* Fixed height */
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Link Styling */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Error Message Styling */
.error {
    color: red;
    margin-bottom: 20px;
}

/* Title Styling */
.container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px; /* Big font size */
    color: #000000; /* Black text color */
}

/* Additional Styling for Register Page */
#register-title {
    color: #333;
    text-align: center;
}

/* Additional Styling for Login Page */
#login-title {
    color: #333;
    text-align: center;
}

/* Button Container Styling */
.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 10px; /* Adjust the space between buttons */
}
