<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <a href="/?continue"><img src="../images/home.jpg" alt="Home" class="home-icon"> </a>
</div>
<div class="container3">
    <h2>Recipe Search Results</h2>
    <form th:action="@{/search-recipes}" method="GET">
        <input type="text" name="query" placeholder="Type recipe name">
        <input type="submit" value="Search">
    </form>
    <div>
        <ul>
            <li th:each="recipe : ${recipes}">
                <div class="recipe">
                    <div class="favorite-btn">
                        <form th:action="@{/add-recipe}" method="POST">
                            <input type="submit" value="Favorite">
                            <input type="hidden" name="recipe" th:value="${recipe}">
                        </form>
                    </div>
                    <div class="recipe-details">
                        <h3 th:text="${recipe.getName()}">Recipe Name</h3>
                        <p>Preparation time: <span th:text="${recipe.getTime()}"></span></p>
                        <p>Instructions: <a th:href="${recipe.getInstructions()}" target="_blank">Link</a></p>
                        <p>Category: <span th:text="${recipe.getCategory()}"></span></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
