<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
<h1>Recipe Search Results</h1>
<form th:action="@{/search-recipes}" method="GET">
    <input type="text" name="query" placeholder="Type recipe name">
    <input type="submit" value="Search">
</form>
<div>
    <ul>
<!--        <li th:each="recipe : ${recipes}" th:text="${recipe.name}" >Sample Recipe</li>-->
        <li th:each="recipe : ${recipes}">
            <div>
                Recipe name: <span th:text="${recipe.getName()}"></span>
                Preparation time: <span th:text="${recipe.getTime()}"></span>
                Instructions: <span th:text="${recipe.getInstructions()}"></span>
                Category: <span th:text="${recipe.getCategory()}"></span>
                <form th:action="@{/add-recipe}" method="POST">
                    <input type="submit" value="Favorite">
                </form>
            </div>
        </li>
    </ul>
</div>


</body>
</html>