<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Application</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Optional: Link to your CSS file for styling -->
</head>
<body>

<div class="container">
    <div th:if="${param.success}" class="alert alert-success">
            You have successfully registered.
    </div>
    <h1 th:text="${message}">Recipe Application</h1>
<div class="buttons">
    <button onclick="window.location.href='/add-own-recipe';">Add Recipe</button>
    <button onclick="window.location.href='/view-recipes';">View Recipes</button>
    <button onclick="window.location.href='/search-recipes';">Search Recipes</button>
</div>
</div>
</body>
</html>