<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to your CSS file for styling -->
</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h2>Login</h2> <!-- New heading -->
    <form th:action="@{/login}" method="post">
        <div><label> Username: <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <div>If you haven't registered, <a href="/register">click here</a>.</div>
</div>
</body>
</html>
