<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
</head>
<body>
<h1>User profile</h1>
<div>
    <p>Username: <span th:text="${user.getUsername()}"></span></p>
    <p>Email: <span th:text="${user.getEmail()}"></span></p>
    <p>Number of added recipes  <span th:text="${user.getRecipeCount()}"></span></p>
</div>
<div>
    <form action="/user/export-recipes" method="get">
        <label for="filename">Save recipes as (optional):</label>
        <input type="text" id="filename" name="filename" placeholder="Enter filename">
        <button type="submit">Download Recipes</button>
    </form>
</div>
<div>
    <a href="/user/calorie-calculator">
        <button>Caloric need calculator</button>
    </a>
</div>
<div>
    <a href="/">
        <button>Home page</button>
    </a>
</div>
</body>
</html>