<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <a href="/?continue"><img src="../images/home.jpg" alt="Home" class="home-icon"> </a>
</div>
<div class="container2">
    <h2>User Profile</h2>
    <div>
        <p class="user-info">Username: <span class="user-info" th:text="${user.getUsername()}"></span></p>
        <p class="user-info">Email: <span class="user-info" th:text="${user.getEmail()}"></span></p>
        <p class="user-info">Number of added recipes: <span class="user-info" th:text="${user.getRecipeCount()}"></span></p>
    </div>
    <div class="buttons">
        <a href="/user/calorie-calculator">
            <button>Caloric Need Calculator</button>
        </a>
    </div>
<div>
    <form action="/user/export-recipes" method="get">
        <label for="filename">Save favourite recipes as </label>
        <input type="text" id="filename" name="filename" placeholder="Enter filename">

        <label for="format">Select format:</label>
        <select id="format" name="format">
            <option value="csv">CSV</option>
            <option value="json">JSON</option>
            <option value="txt">Text</option>
        </select>

        <button type="submit">Download Recipes</button>
    </form>
</div>
</body>
</html>
